.hello {
  list-style: none;
  font: 36px Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 100px;
  text-align: center;
  transition: 100ms ease-in background;
}
.hello:hover {
  background: #ccc;
}

.table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
  align-content: center
}
.table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}
.table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

.container {
  display: flex;
  justify-content: center;
}
.center {
  width: 600px;
}
.background-dark {
  background-color: black;
}

.background-white {
  background-color: white;
}

.inicio{
  background-image: url(components/images/stormtrooper-1600292048442-3808.jpg);
}