.hello {
  list-style: none;
  font: 36px Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 100px;
  text-align: center;
  transition: 100ms ease-in background;
}

.hello:hover {
  background: #ccc;
}

#Person {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Person td, #Person th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Person td:hover {background-color: #ddd;}

#Person th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4C7DAF;
  color: white;
}